.previewList {
    width: 100%;
    border: black solid 2px;
    border-radius: 15px;
    display: flex;
    padding: 1rem;
    margin-bottom: 0.5rem;
}

.previewList:last-child {
    margin-bottom: 0;
}

.previewIMG {
    width: 6rem;
    margin-right: 1rem;
}

.previewIMG img {
    width: 100%;
}

.previewDetail {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.name {
    font-size: 1.2rem;
    border-bottom: gray solid 2px;
}