.form {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.firstRow,
.secondRow,
.thirdRow,
.fourthRow {
    width: 100%;
}

.firstRow input,
.firstRow select {
    width: 33.33%;
    text-align: center;
}

.secondRow input {
    width: 50%;
    text-align: center;
}

.thirdRow textarea {
    width: 100%;
    padding: 0.5rem;
}

.fourthRow button {
    width: 50%;
    height: 2rem;
}

.fourthRow button:first-child {
    background-color: darkcyan;
    color: white;
}

.fourthRow button:last-child {
    background-color: brown;
    color: white;
}

